__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/

build/
dist/
wheels/
*.egg-info/
.eggs/
qdrant_local/
uv.lock

# ---------------------------
# OS-specific
# ---------------------------
.DS_Store
Thumbs.db



.env